body {
  border: double;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(90deg, #b5d5ff 0%, #fff 50%, #b5d5ff 100%);
  background-size: 400% 400%;
  animation: wavy 20s ease-in-out infinite;
  text-overflow: ellipsis; /* add ellipsis to indicate truncated text */
}

@keyframes wavy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 768px) {
      /* Medium screens */
      body {
        font-size: 18px;
      }
    }
    
    @media only screen and (min-width: 992px) {
      /* Large screens */
      body {
        font-size: 20px;
      }
    }

header {
  font-weight: normal;
  font-family: Serif, Arial, Helvetica, sans-serif;
  text-align: center;
}


img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  margin-right: 5%;
  top: 5%;
  right: 0;
  overflow-x: hidden;
}

input {
  border: double;
  font-family: Serif, Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: white;
}

input:hover {
  color: #7a0019;
}

.umn-table {
  position: relative;
}

.glasgow-table {
  position: relative;
}

.umn-table td {
  background-color: #7a0019;
  color: #ffcc33;
  text-align: center;
  border: 0px solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 2px;
  min-width: 100px;
  height: 40px;
  box-shadow: 0 0 20px #ffcc33;
  white-space: nowrap;
}

.umn-table td:first-child {
  width: 350px;
}

.glasgow-table td {
  color: #003865;
  background-color: #ffffff;
  border-color: #003865;
  text-align: center;
  border: 0px solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 2px;
  min-width: 100px;
  height: 40px;
  box-shadow: 0 0 20px #003865;
}

.glasgow-table td:first-child {
  width: 350px;
}

.umn-table input[type=submit] {
  background-color: #7a0019;
  color: #ffcc33;
  border: double 1px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

.umn-table input[type=submit]:hover {
  background-color: #ffcc33;
  color: #7a0019;
}

table {
  margin-left: 10px;
  min-width: 200px;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.1rem;
  padding: 0 .1rem;
  transition: color 1s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 500px 0 0 0 #54b3d6;
  color: white;
}

.work-experience {
  border-style: groove double;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px; 
}

h1 {
  font-size: 24px;
  margin-bottom: 1px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 1px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1px;
  margin-left: 10px;
}

h4 {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}

p {
  margin: 1px;
  margin-left: 10px;
}

li {
  margin-left: 10px;
}

.certifications {
  margin-bottom: 20px;
}

button {
  background-image: linear-gradient(90deg, #b5d5ff 0%, #fff 50%, #b5d5ff 100%);
  background-size: 400% 400%;
  animation: wavy 7s ease-in-out infinite;
  border: solid;
  border-color: darkgray;
  color: darkgray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
