body {
  border: double;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(90deg, #b5d5ff 0%, #fff 50%, #b5d5ff 100%);
  background-size: 400% 400%;
  animation: wavy 20s ease-in-out infinite;
}

@keyframes wavy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input {
  border: double;
  font-family: Serif, Arial, Helvetica, sans-serif;
}

input:hover {
  color: #7a0019;
}

a:hover {
  background-color: white;
}

.personal-info {
  font-weight: normal;
  font-family: Serif, Arial, Helvetica, sans-serif;
  text-align: center;
}

.headshot {
  float: right;
  display: inline;
}

.work-experience {
  border-style: groove double;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 400px;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  
}

.headshot-two {
  float: right;
  display: inline;
}

.umn {
  display: flex;
  justify-content: space-between;
  color: #ffcc33;
  text-align: justify;
  margin-right: 400px;
  margin-left: 10px;
}

.primary-college {
  text-align: center;
  flex-basis: 50%;
  background-color: #7a0019;
}

.primary-location {
  flex-basis: 50%;
  color: #7a0019;
  text-align: center;
  background-color: #ffcc33;
}

.umn-two {
  display: flex;
  justify-content: space-between;
  color: #ffcc33;
  background-color: #7a0019;
  text-align: center;
  margin-right: 400px;
  margin-left: 10px;
}

.degree {
  flex-basis: 50%;
  color: #7a0019;
  background-color: #ffcc33;
  text-align: center;
}

.grad-date {
  flex-basis: 50%;
  text-align: center;
}

.glasgow {
  display: flex;
  text-align: center;
  margin-top: 15px;
  margin-right: 400px;
  margin-left: 10px;
}

.study-abroad {
  color: #003865;
  background-color: #ffffff;
  flex-basis: 50%;
  border-color: #003865;
  border-style: solid;
  border-bottom-style: none;
}

.sa-location {
  color: #003865;
  background-color: #ffffff;
  flex-basis: 50%;
  border-color: #003865;
  border-style: solid;
  border-left-style: none;
  border-bottom-style: none;
  
}

.glasgow-two {
  display: flex;
  background-color: #ffffff;
  border-color: #003865;
  border-style: solid;
  margin-right: 400px;
  margin-left: 10px;
}

.sa-dates {
  color: #003865;
  background-color: #ffffff;
  flex-basis: 75%;
  text-align: right;
}

h1 {
  font-size: 24px;
  margin-bottom: 1px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 1px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1px;
  margin-left: 10px;
}

h4 {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}

p {
  margin: 1px;
  margin-left: 10px;
}

li {
  margin-left: 10px;
}

.certifications {
  margin-bottom: 20px;
}

.cert-date {
  float: right;
  margin-right: 50%;
}
